.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacingXl);
}

.resultStats {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: var(--spacingBase);
}

.resultCount {
  font-size: var(--fontSize3Xl);
}

.resultItems {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: var(--spacingBase);
  row-gap: var(--spacingBase);
}

.uploadButton {
  text-transform: uppercase;
}

@media (max-width: 1000px) {
  .resultItems {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media (max-width: 460px) {
  .controls {
    flex-direction: column-reverse;
    margin-bottom: var(--spacingBase);
  }

  .resultStats {
    flex-direction: column;
    align-items: flex-start;
  }

  .resultCount {
    margin-bottom: var(--spacingSm);
  }

  .searchBar {
    min-height: 42px;
  }

  .uploadButton {
    margin-bottom: var(--spacingSm);
    min-height: 42px;
  }
}
