.button {
  background-color: var(--colorAccent);
  border: none;
  color: white;
  box-shadow: var(--boxShadow);
  cursor: pointer;
  padding: .5em 2em;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: box-shadow .1s ease-in-out, background-color .1s ease-in-out;
}

.button:hover {
  background-color: var(--colorAccentDarker);
  box-shadow: var(--boxShadowLg);
}

.button:active {
  background-color: var(--colorAccentDarkest);
  box-shadow: var(--boxShadow);
}

.button:disabled {
  cursor: not-allowed;
  background-color: var(--colorDisabled);
  box-shadow: var(--boxShadow);
}
