.notification {
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 3rem;

  border: 2px solid var(--colorError);
  box-shadow: var(--boxShadowLg);
  border-radius: 4px;
  background: var(--colorErrorSuperLight);
  color: var(--colorErrorDark);
}

.closeButton {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.5rem;
  line-height: 1;
  background: transparent;
  border: none;
  display: block;
  cursor: pointer;
}
