.label {
  background-color: var(--colorAccent);
  border: none;
  color: white;
  box-shadow: var(--boxShadow);
  cursor: pointer;
  padding: .5em 2em;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: box-shadow .1s ease-in-out, background-color .1s ease-in-out;
}

.hiddenInput {
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important; /* really really hide it */
  white-space: nowrap;
}

.hiddenInput:focus-within + .label,
.hiddenInput:focus + .label {
  outline: 1px dotted black;
}

.label:hover {
  background-color: var(--colorAccentDarker);
  box-shadow: var(--boxShadowLg);
}

.label:active {
  background-color: var(--colorAccentDarkest);
  box-shadow: var(--boxShadow);
}

.hiddenInput:disabled + .label {
  cursor: not-allowed;
  background-color: var(--colorDisabled);
  box-shadow: var(--boxShadow);
}
