.card {
  padding: var(--spacingBase);
  background: white;
  box-shadow: var(--boxShadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-size: var(--fontSize2Xl);
  margin-bottom: var(--spacingSm);
  word-break: break-all;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deleteButton {
  font-size: var(--fontSizeXs);
}
