.app {
  max-width: var(--sizeMax);
  margin: var(--spacingXl) auto;
}

/* TODO: this should be calculated automatically via https://github.com/WolfgangKluge/postcss-media-variables */
@media (max-width: 1000px) {
  .app {
    margin: var(--spacingBase);
  }
}
