:root {
  --colorDisabled: #4A5568;
  --colorAccent: #2B6CB0;
  --colorErrorSuperLight: #FFF5F5;
  --colorError: #E53E3E;
  --colorErrorDark: #9B2C2C;
  --colorAccentDarker: #2C5282;
  --colorAccentDarkest: #2A4365;
  --background: #EDF2F7;
  --textDark: #2A2E31;

  --boxShadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --boxShadowLg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

  --fontSizeXs: .75rem;
  --fontSizeBase: 16px;
  --fontSizeLg: 1.125rem;
  --fontSizeXl: 1.25rem;
  --fontSize2Xl: 1.5rem;
  --fontSize3Xl: 1.875rem;
  --fontSize4Xl: 2.25rem;

  --spacingSm: 10px;
  --spacingBase: 20px;
  --spacingLg: 30px;
  --spacingXl: 40px;

  --sizeMax: 960px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: var(--fontSizeBase);
  color: var(--textDark);
  background-color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
